<h1>Warenkorb</h1>

<ul id="line_items">
<% @cart.line_items.each do |line_item| %>
    <li>
        <span class="title">
            <a href="<%= store_products_path(id: line_item.product) %>"><%= line_item.product.title %></a>
        </span>
        <span class="price"><%= number_to_currency(line_item.price) %></span>
        <span class="qty"><%= line_item.qty %></span>
    </li>
<% end %>
</ul>
<%= button_to "Zur Kasse...", order_new_path, method: :get %>
