<div id="cart">
    <div class="container">
        <% if @cart.line_items.length == 0 %>
            <div class="row empty-cart">
                <div class="col-xs-12 text-center">
                    <h3>Dein Warenkorb ist noch leer.</h3>
                    <a href="<%= store_url %>">Hier geht's zum Shop</a>
                </div>
            </div>
        <% else %>
            <div class="col-xs-12">
                <ul class="list-unstyled line_items">
                    <li class="row header hidden-xs">
                        <div class="col-xs-7">
                            <h3>Warenkorb</h3>
                        </div>
                        <div class="col-xs-1">
                            Menge
                        </div>
                        <div class="col-xs-2 text-right">
                            Preis
                        </div>
                        <div class="col-xs-2 text-right">
                            Summe
                        </div>
                    </li>
                    <% @cart.line_items.each do |line_item| %>
                    <li class="item row clearfix">
                        <div class="col-sm-2 col-xs-12 image">
                            <img src="<%= line_item.product.images.first.content.url(:gallery) %>" />
                        </div>
                        <div class="col-sm-5 col-xs-12">
                            <span class="title">
                                <a href="<%= store_products_path(id: line_item.product) %>"><%= line_item.product.title %></a>
                            </span>
                        </div>
                        <div class="col-sm-1 col-xs-2 text-center">
                            <input type="text" class="qty text-center" value="<%= line_item.qty %>" style="width:3em;" />
                            <a href="#" class="text-muted">entfernen</a>
                        </div>
                        <div class="col-sm-2 col-xs-5 text-right">
                            <span class="price"><%= number_to_currency(line_item.price) %></span>
                        </div>
                        <div class="col-sm-2 col-xs-5 text-right">
                            <strong class="price"><%= number_to_currency(line_item.price * line_item.qty) %></strong>
                        </div>
                    </li>
                    <% end %>
                    <li class="row sub_total">
                        <div class="col-xs-12 text-right">
                            <span>Zwischensumme von <%= @cart.line_items.length %> Artikel(n): </span>
                            <h3 class="amount"><%= number_to_currency @cart.sub_total_price %></h3>
                    </li>
                </ul>
            </div>

            <div class="col-xs-12 col-sm-4 col-sm-offset-8 col-lg-2 col-lg-offset-10">
                <a href="<%= order_new_path %>" class="btn btn-primary">Weiter...</a>
            </div>
        <% end %>
    </div>
</div>
