<div id="order">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3>Zur Kasse</h3>
                <small class="text-muted">
                    Nachdem Ihre Zahlung bei uns eingegangen ist werden die bestellten Produkte sofort an Sie verschickt. Bitte 
                    beachten Sie, dass Ihre Bestellung automatisch storniert wird, wenn kein Zahlungseingang innerhalb der 
                    Zahlungsfrist festgestellt werden konnte. Wir danken für Ihr Verständnis.
                </small>
            </div>
        </div>
        <%= form_for @order, url: order_path, html: { class: "form form-horizontal" } do |f| %>
            <div class="col-xs-12 col-sm-7 delivery-address">
                <div class="row">
                    <h4>Lieferadresse</h4>
                </div>
            <div class="row">
                <% if @order.errors.any? %>
                    <div id="error_explanation">
                        <div class="alert alert-danger">Bitte korrigieren Sie folgende Fehler:</div>
                        <!-- <ul> -->
                        <!--     <% @order.errors.full_messages.each do |msg| %> -->
                        <!--         <li><%= msg %></li> -->
                        <!-- <% end %> -->
                        <!-- </ul> -->
                    </div>
                <% end %>
                <div class="form-group">
                    <div class="col-xs-12">
                        <%= f.label :salutation, "Anrede" %>
                        <%= f.select(:salutation, Order::SALUTATIONS, { prompt: 'Anrede wählen' }, :class => "form-control") %>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-6">
                        <%= f.label :firstname, "Vorname" %>
                        <%= f.text_field :firstname, class: 'form-control' %>
                    </div>
                    <div class="col-xs-6">
                        <%= f.label :name, "Nachname" %>
                        <%= f.text_field :name, class: 'form-control' %>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <%= f.label :company, "Adresszusatz/Firma" %>
                        <%= f.text_field :company, class: 'form-control' %>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <%= f.label :street, "Strasse, Nr." %>
                        <%= f.text_field :street, class: 'form-control' %>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-3">
                        <%= f.label :zip, "PLZ" %>
                        <%= f.text_field :zip, class: 'form-control' %>
                    </div>
                    <div class="col-xs-9">
                        <%= f.label :city, "Ort" %>
                        <%= f.text_field :city, class: 'form-control' %>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <%= f.label :country_id, "Land" %>
                        <%= f.collection_select(:country_id, @countries, :first, :last, {}, class: 'form-control') %>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <%= f.label :email, "E-Mail" %>
                        <%= f.text_field :email, class: 'form-control' %>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-12 col-sm-offset-1 summary">
            <div class="row">
                <h4>Bestellübersicht</h4>
                <% @cart.line_items.each do |item| %>
                    <p class="line-item">
                        <%= item.qty %> x <%= item.product.title %>
                        <span><%= number_to_currency item.sub_total %></span>
                    </p>
                <% end %>
                <p class="sub-total">
                    Zwischensumme:
                    <span data-value="<%= @cart.sub_total_price %>"><%= number_to_currency @cart.sub_total_price %></span>
                </p>
                <p class="shipping-cost">
                    Versand:
                    <span><%= number_to_currency 0 %></span>
                </p>
                <p class="total">
                    Gesamt:
                    <span><%= number_to_currency @cart.sub_total_price %></span>
                </p>
            </div>
            <div class="row payment">
                <h4>Zahlungsart</h4>
                <div class="form-group">
                    <div class="col-xs-6 text-center">
                        <%= f.radio_button :pay_type, :wire, checked: true %>
                        <span>Überweisung</span>
                    </div>
                    <div class="col-xs-6 text-center">
                        <%= f.radio_button :pay_type, :paypal %>
                        <%= image_tag("paypal@2.png", width:'100px') %>
                    </div>
                </div>
            </div>
            <div class="row place-order">
                <div class="col-xs-12 accept-terms <%= if @accepted == true then '' else 'error' end %> ">
                    <div class="row">
                        <div class="col-sm-1 col-xs-2">
                            <%= check_box_tag :accepted %>
                        </div>
                        <div class="col-sm-11 col-xs-10">
                            <p>
                                Hiermit erkläre ich, dass ich die AGB zur Kenntnis genommen und akzeptiert habe.
                                <br/>
                                Ich wurde über meine Widerrufsrecht informiert.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <p class="row" style="padding-top: 20px;">
                    <%= f.submit 'Bestellung abschicken', class: "btn btn-primary", onclick: "$(this).val('Bitte warten...');setTimeout(function(){$(this).attr('disabled', 'disabled');}.bind(this),0);"  %>
                    </p>
                </div>
            </div>
        </div>
    <% end %>
    </div>
</div>
<script>
    var shipping_costs = <%= sanitize @shipping_costs.to_json %>;
</script>
