<div class="page-header row">
    <div class="col-xs-9">
        <h2><i class="glyphicon glyphicon-tag"></i> <span class="text-muted">Products</span> / <%= @product.title or "New" %></h2>
    </div>
    <div class="col-xs-3 text-right">
        <a href="<%= admin_products_path %>" class="btn">Cancel</a>
        <a href="#" onclick="document.getElementById('edit_product_<%= @product.id %>').submit();return false;" class="btn btn-primary">Save</a>
    </div>
</div>

<%= form_for @product, url: admin_product_url(@product), :html => { multipart: true, class: 'form' } do |f| %>
    <%= render partial: 'form', locals: { f: f } %>
<% end %>

<script>
    require(['admin/products/edit'], function(main) {
        main({
        });
    });
</script>
