<div id="products" class="row">
    <h3 class="category-header"><span>Taschen</span></h3>
    <div class="container">
        <div class="row">
            <% cache ['store', Product.last] do %>
                <% @products.each do |product| %>
                    <% cache ['product', product] do %>
                        <div class="product col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <a href="<%= store_products_path(id: product) %>">
                                <% if product.images.length > 0 %>
                                    <img class="product-image" src="<%= product.images.first.content.url(:gallery) %>" />
                                <% end %>
                                <h3 class="title"><%= product.title %><sup class="is-new">Neu</sup></h3>
                                <div class="descr" style="display:none;"><%= product.description %></div>
                                <h4 class="price"><%= number_to_currency(product.price) %></h4>
                            </a>
                        </div>
                    <% end %>
                <% end %>
            <% end %>
        </div>
    </div>
</div>
