<div id="product">
    <div class="main">
        <div class="container">
            <div class="row">
                <% cache ['store_product', @product] do %>
                <% if @product.images.length > 0 %>
                    <div class="hidden-xs col-sm-6 image">
                        <img src="<%= @product.images.first.content.url(:normal) %>" />
                    </div>
                    <div class="hidden-xs col-sm-2">
                        <ul class="list-unstyled images text-center">
                            <% @product.images.each do |image| %>
                                <li><img class="unveil" data-src="<%= image.content.url(:gallery) %>" data-large="<%= image.content.url(:normal) %>" /></li>
                        <% end %>
                        </ul>
                    </div>

                    <div class="visible-xs col-xs-12 image-xs">
                        <ul class="list-unstyled text-center">
                            <% @product.images.each do |image| %>
                                <li><img src="<%= image.content.url(:normal) %>" /></li>
                        <% end %>
                        </ul>
                    </div>


                    <div class="col-sm-4 col-xs-12 text-center buy">
                        <h2 class="title"><%= @product.title %></h2>
                        <h2 class="price"><%= number_to_currency(@product.price) %></h2>
                        <span class="shipping-costs">- Einzelversand nach Österreich: <%= number_to_currency(5.30) %></span>
                        <span class="return-policy">- 14 Tage Rückgaberecht</span>
                        <%= form_tag line_items_path(product_id: @product) do%>
                            <p class="qty">
                                <label>Menge</label><input type="text"i name="qty" value="1" />
                            </p>
                            <button type="submit" class="btn btn-primary" onclick="this.innerText='Hinzufügen...';setTimeout(function(){ this.disabled='disabled';}.bind(this),0);">In den Warenkorb</button>
                        <% end %>
                    </div>
                <% end %>

                <div class="col-xs-12 col-lg-9 col-lg-offset-1 descr">
                    <div><%= sanitize @product.description %></div>
                </div>
            <% end %>

            </div>
        </div>
    </div>

    <div class="cross-selling">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 products">
                    <% @products.each do |product| %>
                        <% cache ['store_product_xs', product] do %>
                        <div class="product">
                        <a href="<%= store_products_path(id: product) %>">
                            <% if product.images.length > 0 %>
                                <img class="product-image unveil" data-src="<%= product.images.first.content.url(:gallery) %>" />
                        <% end %>
                            <h4 class="title"><%= product.title %></h4>
                            <h5 class="price"><%= number_to_currency(product.price) %></h5>
                        </a>
                    </div>
                <% end %>
                <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
