<!DOCTYPE html>
<html>
    <head>
        <title>Admin</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <%= stylesheet_link_tag 'admin/admin', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'require' %>
        <script>require.config({"baseUrl":"/assets","paths":null}); require(["admin/admin"]);</script>
        <%= csrf_meta_tags %>
    </head>
    <body class="<%= controller_name %> <%= action_name %>" data-no-turbolink>

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                    <div class="user">
                        <i class="glyphicon glyphicon-user"></i>
                        <a href="<%= admin_dashboard_path %>" class="name"><%= current_user.name unless current_user.nil? %></a>
                        <a href="<%= logout_admin_session_url(1) %>" class="logout">Logout</a>
                    </div>
                    <ul class="nav nav-sidebar">
                        <li>
                            <a href="<%= admin_products_path %>">
                                <i class="glyphicon glyphicon-tag"></i>
                                <span>Products</span>
                            </a>
                        </li>
                        <li>
                            <a href="<%= admin_products_path %>">
                                <i class="glyphicon glyphicon-list-alt"></i>
                                <span>Orders</span>
                            </a>
                        </li>
                        <li>
                            <a href="<%= admin_products_path %>">
                                <i class="glyphicon glyphicon-plane"></i>
                                <span>Shipping costs</span>
                            </a>
                        </li>
                        <li>
                            <a href="<%= admin_products_path %>">
                                <i class="glyphicon glyphicon-flag"></i>
                                <span>Countries</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    <%= yield %>
                </div>
            </div>
        </div>

    </body>
</html>

