<!DOCTYPE html>
<html>
<head>
<title>Railsllprk</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<link href='//fonts.googleapis.com/css?family=Lobster|Voltaire' rel='stylesheet' type='text/css'>

<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %> <%= action_name %>" data-no-turbolink>

<div class="global-wrapper">
    <%= yield %>
</div>

<footer>
    <div class="container">
        <div class="col-xs-12 text-center">
            <ul class="list-unstyled list-inline">
                <li><a href="#">AGBs</a></li>
                <li><a href="#">Impressum</a></li>
                <li><a href="#">Widerrufsrecht</a></li>
                <li><a href="#"><i class="icon ion-social-facebook"></i>acebook</a></li>
            </ul>
        </div>
        <p class="text-muted text-center">
        &copy; <%= Date.today.year %> lillypark.com
        </p>
    </div>
</footer>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-6">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="<%= store_url %>">lillypark</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
            <ul class="nav navbar-nav">
                <li><a href="<%= store_url %>">Taschen</a></li>
                <li><a href="#">Accesoirs</a></li>
                <li><a href="#">Über uns</a></li>
                <!-- <li><a href="#"><img src="http://lillypark.com/images/syl&#45;small.png" alt="ShowYourLove"/></a></li> -->
            </ul>
            <ul class="nav navbar-nav navbar-right cart">
                <li><a href="<%= cart_url %>"><i class="icon ion-ios-cart"></i></a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</nav>

</body>
</html>
